

/*------------- Header --------------*/
body {
    background-color: #CCD5DD;
}

h1 {
    color: #212188;
    border-bottom: 1px solid #212188;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
h2 {
    color: #212188;
    text-align: center;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 110px;
    margin-bottom: 20px;
}

/*.home-image {
    max-width: 50%;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 5px;
    float: left;
}*/
.side-bar-img {
    float: left;
    max-width: 45%;
    max-height: 5%;
    margin: 5px;
}
#nav-title {
    background-color: #212188;
    color: white;
    margin-left: 50px;
}
.main-viz {
    padding-bottom: 20px;
    margin: auto;
}
.main-content {
    padding: 30px;
    padding-top: 0px;
}
.navbar-toggle {
    background-color: #212188; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

@media only screen and (max-width: 992px) {
    .side-bar-img {
        width: 23%;
    }
    
    #bottom-comp {
        border-bottom-width: 0px;
    }
}

@media only screen and (max-width: 600px) {
    #landing-img {
        max-width: 100%;
    }
    .side-bar-img {
        float: left;
        max-height: 45%;
        max-width: 45%;
        margin: 2px;
    }
}