body {
    background-color: lightgray;
}

h1{
    color: rgb(12, 173, 167);
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
}

h2{
    color: rgb(12, 173, 167);
     background-color: white;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bold;
}

h3{
        color: rgb(12, 173, 167);
         background-color: white;
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-weight: bold;
    }


p {
    color: slategray;
    font-family: sans-serif;
    font-size: 12;
    background-color: white;
    line-height: 2;
 }

 .container{
     background-color: white;
     padding-top: 30px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 30px;
 }

 .navbar-brand {
    color: white;
    background-color: rgb(12, 173, 167);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
 

/*------------- Header --------------*/
#nav-title {
    background-color: #0dd8ee;
    color: white;
    margin-left: 50px;
}
.main-viz {
    padding-bottom: 20px;
    margin: auto;
}
.main-content {
    padding: 30px;
    padding-top: 0px;
}
.navbar-toggle {
    background-color: #0dd8ee; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
/*drop down*/


/*--------------- Size Control ----------------*/
@media only screen and (max-width: 992px) {
    .side-bar-img {
        width: 23%;
    }
    .comparison {
        border-bottom: 1px solid #0dd8ee;
        padding-bottom: 20px;
    }
    #bottom-comp {
        border-bottom-width: 0px;
    }
}

@media only screen and (max-width: 600px) {
    #landing-img {
        max-width: 100%;
    }
    .side-bar-img {
        float: left;
        max-height: 45%;
        max-width: 45%;
        margin: 2px;
    }
}
